body{
  text-align: center;
  }

h1{
  color: black;
  font-family: 'Inconsolata', courier ;
}

p{
  font-family: 'Inconsolata', courier ;
}


#temperature{
  font-family: 'Inconsolata', courier ;
  font-size: 50px;
  font-weight: bold;
}

a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#myDivId{
  border-style: solid;
  border-color: black;
  background-color: white;
  overflow:hidden;
  position:relative;
  width: 50%;
  margin-left:25%;
}

#content{
  z-index:9;
  position:relative;
}

#scale{
  z-index;1;
  width:0px;
  height:100%;
  position:absolute;
  background:blue;
  left:0px;
  top:0px;
}